.DS_Store
/workspace/cpp/**
/workspace/nodejs/**
/workspace/rust/**
/workspace/cs/**
/workspace/docker/**
/workspace/python/**
!/workspace/cpp/README.md
!/workspace/nodejs/README.md
!/workspace/rust/README.md
!/workspace/cs/README.md
!/workspace/docker/README.md
!/workspace/python/README.md
!.gitkeep
